<% 
  @title = 'Criar Chá de Bebê' 
  @headTitle = 'Crie seu Chá de Bebê!'
%>

<div class='row'>
  <div class='col-md-4'>
    <%= form_for @donation do |f| %>
      <p>
        <label>Seu email</label>
      </p>
      <p>
        <%= f.text_field :email %>
      </p>
      <p>
        <label>Valor</label>
      </p>
        <%= f.text_field :value %>
      </p>
      <p>
        <%= f.submit "Enviar", :class => 'btn btn-success'  %>
      </p>
    <% end %>
  </div>
</div>
