<% 
  @title = 'Criar Chá de Bebê' 
  @headTitle = 'Crie seu Chá de Bebê!'
%>


<%= form_for @donation do |f| %>
  <p>
    <label>Seu email</label>
    <%= f.text_field :email %>
  </p>
  <p>
    <label>Valor</label>
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit "Enviar" %>
  </p>
<% end %>

