<% 
  @title = 'Criar Chá de Bebê' 
  @headTitle = 'Crie seu Chá de Bebê!'
%>

<form id='home-index' action='/donations' method='post'>
  <p>
    <label for='email'>Seu e-mail</label>
	<input id='email' name='email' type='text' />
  </p>
  <p>
    <label for='value'>Valor da doação</label>
    <input id='value' name='value' type='text' />
  </p>
</form>