<% 
  @title = 'Doação para Chá de Bebê!' 
  @headTitle = 'Doação!'
%>

<div id='donations-show'>
  <p>
    <label id='thanks'>Obrigado pela sua doação!</label>
  </p>
  <p>
    <label>e-mail:</label>
    <label id='email'><%= @donation.email %></label>
	</p>
  <p>
    <label>valor:</label>
    <label id='value'><%= number_to_currency(@donation.value) %></label>
  </p>
</div>